.content_category {
    width: 100%; min-height: 300px;
    padding: 20px;
}

.content_category h2.title{
    margin-bottom: 20px;
}

.content_category .display_posts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    width: 100%;
}

.content_category .post_content {
    width: 100%;
    border-radius: 5px;
}
