.content_category {
    width: 90%; min-height: 300px;
    padding: 20px;
    overflow: hidden;
    margin:auto;
}
.title{
    margin: auto;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 90%;
}

.content_category .posts_line {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.content_category .post_content {
    width: 100%;
    border-radius: 5px;
    /* height: 0px; */
}

.content_category .line_top {
    display: flex; flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.content_category .line_top a {
    border: 1px solid black;
    padding: 2px 15px;
    border-radius: 50px;
}