@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif; font-weight: 500;
}
body {
    background-color: #f2f2f2;
    padding-top: 100px;
}

.top {
    width: 100%; height: 70px;
    position: fixed;
    top: 0; left: 0;
    /* background-color: rgba(194, 194, 194, 0.25); */
    /* backdrop-filter: blur(4px); */
    background-color: #f2f2f2;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 7px;
    overflow: hidden;
    transition: .5s;
}

.top .logo a {
    color: rgb(45, 84, 147);
}
.top .logo svg {
    width: 30px; height: 30px;
}

.top .menu {
    width: 100%; height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #d6d6d6;
    position: relative;
    overflow: hidden;
}

.top .menu a {
    width: 100%; color: rgb(45, 84, 147);
    text-decoration: none;
}

.top .menu a .menu_button {
    width: 100%;
    border-left: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
    background-color: #d6d6d6;
    transition: .3s;
    text-align: center;
}

.top .menu a:hover {
    color: rgb(0, 0, 0);
}

.top .menu a .menu_button:hover {
    background-color: #aaaaaa;
}

footer {
    width: 100%; height: 450px;
    background-color: rgb(45, 84, 147);
    padding: 50px 150px;
    margin-top: 100px;
}

footer .logo {
    border-bottom: 1px solid #ffff;
    padding-bottom: 10px;
    margin-bottom: 50px;
    width: 100%;
}

footer .footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .logo a {color: #ffff;}
footer .logo svg {width: 30px; height: 30px;}
footer .footer_menu {width: 150px;}

footer .footer_menu a {
    color: #aaaaaa; transition: .2s;
    text-decoration: none;
}

footer .footer_menu a .menu_button {
    margin-bottom: 2px;
    padding: 5px 0;
}

footer .footer_menu a:hover {color: #fff;}

footer .footer_redes_sociais {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}

footer .footer_redes_sociais .rede {
    border-radius: 50px;
    width: 40px; height: 40px;
    background-color: rgb(45, 84, 147);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
    margin: 2px;
}

footer .footer_redes_sociais .rede:hover {
    transform: scale(0.97);
    opacity: .9;
}

footer .footer_redes_sociais .rede svg {
    width: 20px; height: 20px;
    fill: #f2f2f2;
}

.footer_redes_sociais .rede.insta {
    background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}

footer .footer_redes_sociais .rede.face {
    background-color: #3b5998;
}

footer .footer_redes_sociais .rede.twitter {
    background-color: #1DA1F2;
}

footer .footer_redes_sociais .rede.youtube {
    background-color: #C4302b;
}