@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Poppins', sans-serif; font-weight: 500;
}
body {
    background-color: #f2f2f2;
    padding-top: 70px;
}

.top {
    width: 100%; height: 70px;
    position: fixed;
    top: 0; left: 0;
    /* background-color: rgba(194, 194, 194, 0.25); */
    /* backdrop-filter: blur(4px); */
    background-color: #f2f2f2;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 7px;
    overflow: hidden;
    transition: .5s;
}

.top .logo a {
    color: rgb(45, 84, 147);
}
.top .logo svg {
    width: 30px; height: 30px;
}

.top .menu {
    width: 100%; height: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #d6d6d6;
    position: relative;
    overflow: hidden;
}

.top .menu a {
    width: 100%; color: rgb(45, 84, 147);
    text-decoration: none;
}

.top .menu a .menu_button {
    width: 100%;
    border-left: 1px solid rgb(183, 183, 183);
    border-right: 1px solid rgb(183, 183, 183);
    background-color: #d6d6d6;
    transition: .3s;
    text-align: center;
}

.top .menu a:hover {
    color: rgb(0, 0, 0);
}

.top .menu a .menu_button:hover {
    background-color: #aaaaaa;
}