@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

#post_view {
    width: 90%; height: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\ */
#post_view .post_content {
    width: 65%;
    margin: 0px;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

#post_view .post_content img {
    width: 100%; height: 300px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

#post_view .post_content .post_title {
    font-weight: 600;
    font-size: 21pt;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;

}

#post_view .post_content .post_text p,
#post_view .post_content .post_text h2,
#post_view .post_content .post_text em,
#post_view .post_content .post_text strong {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}

#post_view .post_content .post_text h2 {
    font-weight: 500;
}

#post_view .post_content .post_text strong {
    font-weight: bold;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\ */
#post_view .float_content {
    background-color: #d6d6d6;
    width: 25%; height: 450px;
    position: sticky;
    top: 100px;
    padding: 10px;
    border-radius: 7px;
}

#post_view .float_content h2 {
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 15px 0;
    margin-top: 5px;
}

.outros {width: 100%;}

.outros a {text-decoration: none;}

.outros a .outros_post_content {
    height: 70px; width: 100%;
    overflow: hidden;
    margin-top: 5px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    color: rgb(45, 84, 147);
    transition: .3s;
    border-bottom: 1px solid gray;
}

.outros a .outros_post_content:hover {
    opacity: .7;
    transform: scale(0.99);
}

.outros .outros_post_content p {
    width: 100%;
    font-weight: 500;
    color: rgb(59, 59, 59);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
}

.outros .outros_post_content:hover p {
    color: black;
    transition: .3s;
}

.float_content .outros a .outros_post_content img {
    height: 100%; 
    min-width: 90px;
    max-width: 90px;
    border-radius: 0 5px 5px 0;
    position: relative;
    object-fit: cover;
    margin-right: 5px;
}

.float_content .redes_sociais {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.float_content .redes_sociais .rede {
    border-radius: 50px;
    width: 40px; height: 40px;
    background-color: rgb(45, 84, 147);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s;
}

.float_content .redes_sociais .rede:hover {
    transform: scale(0.97);
    opacity: .9;
}

.float_content .redes_sociais .rede svg {
    width: 20px; height: 20px;
    fill: #f2f2f2;
}

.rede.insta {
    background: -webkit-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -webkit-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -moz-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -moz-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -ms-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -ms-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: -o-radial-gradient(32% 106%, circle cover, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), -o-linear-gradient(-45deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
    background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);
}

/* .float_content .redes_sociais .rede.insta svg {
    margin-left: 1px;
} */

.float_content .redes_sociais .rede.face {
    background-color: #3b5998;
}

.float_content .redes_sociais .rede.twitter {
    background-color: #1DA1F2;
}

.float_content .redes_sociais .rede.youtube {
    background-color: #C4302b;
}