body {
    padding-top: 40px;
}

header {
    width: 100%; height: 400px;
    background-color: rgb(45, 84, 147);
    overflow: hidden;
    object-fit: cover;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


section#recentes,
section#destaques,
section#categorias {
    width: 80%; height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
    position: relative;
    margin-top: 50px;
    border-top: 1px black solid;
    padding: 0%;
    padding-top: 70px;
}

section#recentes .line_top,
section#destaques .line_top,
section#categorias .line_top {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    top: 20px;
}

section#recentes .line_top a .ver_mais {
    border: 1px solid blue;
    color: blue;
    border-radius: 5px;
    width: 125px; height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

section#recentes .line_top a .ver_mais:hover {
    color: black;
    border-color: black;
}

section#recentes a {
    text-decoration: none;
}

section#recentes .post_content {
    width: 100%; height: 300px;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

section#recentes .post_content img {
    transition: .3s;
    height: 100%;
    z-index: 0;
    position: absolute;
}

section#recentes .post_content:hover img {
    transform: scale(1.07) rotate(.7deg);
    opacity: 0.9;
}

section#recentes .post_content h2 {
    font-size: 17pt;
    color: #fff;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.75), transparent);
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
    transition: .3s;
    font-weight: 400;
    z-index: 2;
}


@media (max-width: 620px) {
    section#recentes {
        grid-template-columns: 1fr;
    }
    section#recentes a {
        margin-bottom: 20px;
    }
    section#recentes .post_content {
        height: auto;
        display: flex;
        flex-direction: column;
        border: none;
        border-radius: 0;
        background-color: transparent;
        width: 100%;
        object-fit: cover;
        padding-bottom: 0px;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.707);
    }
    section#recentes .post_content img {
        width: 100%; height: auto;
        position: static;
        border-radius: 5px;
    }
    section#recentes .post_content h2 {
        font-size: 15pt;
        background-image: none;
        z-index: 2;
        height: 50px;
        color: black;
    }
    section#recentes .post_content:hover img {
        transform: scale(1.03);
        opacity: 0.95;
        border-radius: 5px;
    }
    
}






section#categorias a {
    text-decoration: none;
}

section#categorias .category_icon {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: .3s;
    overflow: hidden;
    position: relative;
    color: rgba(0, 0, 0, 0.812);
}

section#categorias .category_icon span {
    margin-right: 5px;
    position: absolute;
    /* left: -10px;
    top: 15px; */
    transition: .8s;
    font-size: 25pt;
    opacity: 0;
    z-index: 0;
    transform: rotate(-15deg);
}

section#categorias .category_icon:hover {
    color: black;
}

section#categorias .category_icon:hover span {
    transform: scale(2) rotate(0deg);
    opacity: 0.3;
    color: black;
}

section#categorias .saude span,
section#categorias .tech span {
    margin-right: 0;
}

section#categorias .tech {background-color: gray; color: #f2f2f2;}
section#categorias .tech:hover {color: #f2f2f2;}
section#categorias .tech:hover span {color: #f2f2f2;}
section#categorias .mundo {background-color: red; color: #f2f2f2;}
section#categorias .mundo:hover {color: #fff;}
section#categorias .mundo:hover span {color: #fff;}
section#categorias .economia {background-color: green; color: #f2f2f2;}
section#categorias .economia:hover {color: #f2f2f2;}
section#categorias .economia:hover span {color: #f2f2f2;}
section#categorias .esporte {background-color: gold; color: blue;}
section#categorias .esporte:hover {color: blue;}
section#categorias .esporte:hover span {color: goldenrod;}
section#categorias .politica {background-color: yellow;}
section#categorias .entretenimento {background-color: blueviolet; color: #f2f2f2;}
section#categorias .entretenimento:hover {color: #f2f2f2;}
section#categorias .entretenimento:hover span {color: #f2f2f2;}
section#categorias .saude {background-color: #f2f2f2; color: rgba(255, 0, 0, 0.741);}
section#categorias .saude:hover {color: red;}
section#categorias .saude:hover span {color: red;}
section#categorias .educacao {background-color: blue; color: #f2f2f2;}
section#categorias .educacao:hover {color: #fff;}
section#categorias .educacao:hover span {color: #fff;}

@media (max-width: 620px) {
    section#categorias {
        grid-template-columns: 1fr 1fr;
    }
}







section#destaques {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 10px;
    margin-bottom: 100px;
}

section#destaques a {
    text-decoration: none;
}

section#destaques .post_principal {
    width: 100%; height: 415px;
    border: 1px solid black;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

section#destaques .post_principal .text {
    color: #fff;
    width: 100%;
    padding: 40px;
    padding-bottom: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

section#destaques .post_principal .text h2 {
    font-size: 25pt;
}

section#destaques .post_principal .text p {
    font-weight: 300;
    text-align: left;
    margin-top: 50px;
}

section#destaques .post_principal img {
    transition: .3s;
    height: 140%;
    z-index: 0;
    position: absolute;
}

section#destaques .post_principal:hover img {
    transform: scale(1.007);
    opacity: 0.98;
}

section#destaques .outros {
    width: 100%;
}

section#destaques .outros .content {
    height: 100px; overflow: hidden;
    object-fit: cover;
    margin-top: 5px;
    display: flex;
    background-color: rgb(11, 11, 12);
    border-radius: 5px;
    transition: .3s;
    color: #f2f2f2;
}

section#destaques .outros .content:hover {
    opacity: .9;
}

section#destaques .outros .content h3 {
    margin: 10px;
    font-weight: 400;
}

section#destaques .outros .first .content{
    background-color: rgb(132, 4, 4);
    margin-top: 0;
    color: #f2f2f2;
}

section#destaques .outros .content img {
    width: 140px; position: inherit;
}

@media (max-width: 620px) {
    section#destaques {
        grid-template-columns: 1fr;
    }
    section#destaques .post_principal {
        position: static;
        object-fit: contain;
        flex-direction: column;
        height: auto;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 30px;
        transition: .3s;
    }
    section#destaques .post_principal:hover {
        opacity: .95;
    }
    section#destaques .post_principal img {
        position: inherit;
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
        z-index: 1;
    }
    section#destaques .post_principal:hover img {
        border-radius: 14px;
        transform: none;
    }
    section#destaques .post_principal .text {
        padding: 15px 0;
        font-size: 11pt;
        background-color: transparent;
        color: black;
    }

    section#destaques .post_principal .text h2 {
        font-size: 15pt;
    }
    section#destaques .post_principal .text p {
        margin-top: 15px;
    }
}