{% extends 'my_blog/layout.html' %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu_home.css' %}">

    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

{% block body %}
    <header id="header_homepage">
        <h1>Blog Legal</h1>
    </header>
    <section id="recentes">
        <div class="line_top">
            <h2>Mais recentes</h2>
            <a href="/recentes">
                <div class="ver_mais">
                    Ver mais >
                </div>
            </a>
        </div>
        <a href="/posts/post_id=1">
            <div class="post_content">
                <img src="{% static 'img/doctor.jpg' %}" alt="post_image">
                <h2>Título do post</h2>
            </div>
        </a>
        
        <a href="/posts/post_id=2">
            <div class="post_content">
                <img src="{% static 'img/map.jpg' %} " alt="post_image">
                <h2>Título do post</h2>
            </div>
        </a>

        <a href="/posts/post_id=3">
            <div class="post_content">
                <img src="{% static 'img/politic.jpg' %}  " alt="post_image">
                <h2>Título do post</h2>
            </div>
        </a>

        <a href="/">
            <div class="post_content">
                <img src="{% static 'img/doctor.jpg' %} " alt="post_image">
                <h2>Título do post</h2>
            </div>
        </a>
    </section>
    <section id="categorias">
        <div class="line_top">
            <h2>Categorias</h2>
        </div>
        <a href="?categoria=tecnologia">
            <div class="category_icon tech">
                <span class="material-symbols-outlined">memory</span>
                Tecnologia
            </div>
        </a>
        <a href="?categoria=mundo">
            <div class="category_icon mundo">
                <span class="material-symbols-outlined">public</span>
                Mundo
            </div>
        </a>
        <a href="?categoria=esportes">
            <div class="category_icon esporte">
                <span class="material-symbols-outlined">sports_soccer</span>
                Esportes
            </div>
        </a>
        <a href="?categoria=economia">
            <div class="category_icon economia">
                <span class="material-symbols-outlined">attach_money</span>
                Economia
            </div>
        </a>
        <a href="?categoria=politica">
            <div class="category_icon politica">
                <span class="material-symbols-outlined">groups</span>
                Política
            </div>
        </a>
        <a href="?categoria=entretenimento">
            <div class="category_icon entretenimento">
                <span class="material-symbols-outlined">stadia_controller</span>
                Entretenimento
            </div>
        </a>
        <a href="?categoria=saude">
            <div class="category_icon saude">
                <span class="material-symbols-outlined">emergency</span>
                Saúde
            </div>
        </a>
        <a href="?categoria=educacao">
            <div class="category_icon educacao">
                <span class="material-symbols-outlined">school</span>
                Educação
            </div>
        </a>
    </section>
    <section id="destaques">
        <div class="line_top">
            <h2>Destaques</h2>
        </div>
        <a href="/popular">
            <div class="post_principal">
                <img src="{% static 'img/politic.jpg' %}" alt="img_post_destaque_principal">
                <div class="text">
                    <h2>Título do post</h2>
                    <p class="demo">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s... Leia mais.
                    </p>
                </div>
            </div>
        </a>
        <div class="outros">
            <a href="/" class="first">
                <div class="content">
                    <img src="{% static 'img/business.jpg' %}" alt="post_image">
                    <h3>Título do post</h3>
                </div>
            </a>

            <a href="/">
                <div class="content">
                    <img src="{% static 'img/plane.jpg' %}" alt="post_image">
                    <h3>Título do post</h3>
                </div>
            </a>

            <a href="/">
                <div class="content">
                    <img src="{% static 'img/football.jpg' %}" alt="post_image">
                    <h3>Título do post</h3>
                </div>
            </a>

            <a href="/">
                <div class="content">
                    <img src="{% static 'img/tech.jpg' %}" alt="post_image">
                    <h3>Título do post</h3>
                </div>
            </a>
        </div>
    </section>
{% endblock %}