{% extends 'my_blog/layout.html' %}
{% load static %}

{% block title %}
    <title>Posts</title>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/post_content.css' %}">
    <link rel="stylesheet" href="{% static 'css/recentes.css' %}">
{% endblock %}

{% block body %}
    <section id="recentes">
        <h1 class="title">Todos os posts</h1>
        <div class="display_posts_section">
            {% for post in posts_recentes %}
                {% include 'my_blog/recentes_content.html' %}
            {% endfor %}
        </div>
    </section>
{% endblock %}